@import '../../../setup.scss';

.container {
    display: block;
    width: 100%;
    padding: 10px;
    background: transparentize($theme-color, 0.95);
    margin-bottom: 10px;
    border-bottom: 3px solid transparent;
    position: relative;

    &[disabled=false]:hover {
        border-bottom-color: $theme-color;
    }

    .placeholder {
        color: gray;
        text-overflow: ellipsis !important;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        width: 100%;
    }
    
    .placeholder[isSelected=true] {
        color: $secondary-color;
    }

    .description {
        padding-top: 5px !important;
        margin-top: 0 !important;
        line-height: 0 !important;
    }

    .progress {
        height: 3px;
        background: $secondary-color;
        transform: translateY(5px);

        &[progress="100"] {
            background: $success;
        }
    }

    .progress-track {
        height: 3px;
        width: 100%;
        background: transparentize($theme-color, 0.8);
        transform: translateY(1.8px);
    }
    
    &[hasError=true] {
        margin-bottom: 0;
    }
    

    &[disabled=true] {
        * {
            opacity: 0.5;
        }

        .progress {
            opacity: 1;
        }
    }
}