<div class="chatlist-container">
    <div class="chatlist-header-container ion-activatable" (click)="toggleChatOpenState()">
        <div class="chatlist-header-avatar" [style.background-image]="'url(' + sockets?.data?.media[sockets?.data?.media.length - 1] + ')'"></div>
        <div class="chatlist-header-title">Messaging <b *ngIf="noTotalUnreadMessages">({{noTotalUnreadMessages}} Unread)</b></div>
        <div class="space"></div>
        <ion-icon name=chevron-up-sharp [attr.isChatOpen]="isChatOpen"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
    </div>

    <!-- Chatlist search box -->
    <div class="chatlist-search-box"><input type="text" placeholder="Search messages..."></div>

    <div class="chatlisting">
        <div *ngFor="let chat of recipientList" (click)="openMessages(false, chat)" [attr.isActive]="chat === activeCustomerId">
            <div class="chat" *ngIf="recipientDetails[chat]">
                <div class="chat-avatar-container"><div class="chat-avatar" [attr.isOnline]="recipientDetails[chat]?.isOnline" [style.background-image]="'url(' + recipientDetails[chat]?.avatar + ')'"></div></div>
                <div class="chat-details">
                    <div class="chat-name">{{ recipientDetails[chat].name }}</div>
                    <div class="chat-last-message" *ngIf="sockets.data?.messages[this.branchService.id][chat]">{{ sockets.data?.messages[branchService.id][chat][sockets.data.messages[branchService.id][chat]?.length ? sockets.data.messages[branchService.id][chat]?.length - 1 : sockets.data.messages[branchService.id][chat][0]]?.body }}</div>
                </div>
                <div class="space"></div>
                <!-- <div class="chat-unread-message-count"></div> -->
            </div>
        </div>

        <div class="new-chat-button" (click)="chooseCustomer()"><ion-icon class="center" name=chatbubble-sharp></ion-icon></div>
        <app-select [options]="[]" [okText]="'Select Customer'" [header]="'Choose a customer to start a chat'" [runBeforeOnClick]="{handler: customersService.getCustomerData, self: this}" #CustomersSelector></app-select>
</div>
</div>
<div class="current-chat-messages-container" [attr.isMessagesOpen]="isMessageOpenTemp" *ngIf="activeCustomerId">
    <div class="current-chat-message-header" *ngIf="activeCustomerId">
        <div class="chat-status" [attr.isOnline]=recipientDetails[activeCustomerId].isOnline></div>
        <div class="current-active-chat-name" *ngIf="recipientDetails[activeCustomerId]">
            {{ recipientDetails[activeCustomerId].name }}
        </div>
        <div class="space"></div>
        <div class="close-button ion-activatable" (click)="closeMessages()">
            <ion-icon class="center" name="arrow-forward"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
        </div>

    </div>
    <div class="messages-container" #ChatMessages >
        <div class="message" [id]=message.id [attr.messageStatus]="message.state" *ngFor="let message of (sockets.data.messages[branchService.id] && sockets.data.messages[branchService.id][activeCustomerId] ? sockets.data.messages[branchService.id][activeCustomerId] : [])">
            <div class="message-sender-avatar" *ngIf="message.type === 'inbound'"><div class="avatar" [style.background-image]="'url(' + recipientDetails[activeCustomerId].avatar + ')'"></div></div>
            <div class="message-sender-avatar" *ngIf="message.type !== 'inbound'"><div class="avatar" [style.background-image]="'url(' + sockets.data.media[sockets.data.media.length - 1] + ')'"></div></div>
            <div class="message-details">
                <div class="message-sender-name-time">
                    <div class="message-sender-name">{{ message.type === 'inbound' ? recipientDetails[message.from].name.split(' ')[0] : 'You' }}</div>
                    <div class="message-status" *ngIf="message.type === 'outbound'"><ion-icon name=checkmark-done-sharp></ion-icon></div>
                    <div class="message-time">{{ message.timeCreated.time }}</div>
                    <div class="message-buttons">
                        <div class="message-button" (click)="addReply(message)">Reply</div>
                        <div class="message-button" (click)="deleteMessage(message.id)">Delete</div>
                    </div>
                </div>
                <div class="message-reply" *ngIf="message.reply" (click)="scrollToMessage(message.reply.messageId)"><b>({{ message.reply.messageType === 'outbound' ? 'You' : recipientDetails[activeCustomerId].name }})</b> {{ message.reply.messageBody }}</div>
                <div class="message-image" *ngIf="message.attachments.length" [style.background-image]="'url(' + message.attachments[0] + ')'" (click)="openMessageImage(message.attachments[0], message.body)"></div>
                <div class="message-body">{{ message.body }}</div>
            </div>
        </div>
    </div>

    <div class="messages-footer">
        <app-file-selector #FileSelect></app-file-selector>
        <div class="attachements-and-reply">
            <div class="attachments" *ngIf="fileSelect && fileSelect.file"><div class="attachment"></div></div>
            <div class="reply" *ngIf="message.reply">
                <div class="message"><b>({{ message.reply.messageType === 'outbound' ? 'You' : recipientDetails[activeCustomerId].name }})</b> {{ message.reply.messageBody }}</div>
                <div class="space"></div>
                <div class="remove-button" (click)="removeReply()"><ion-icon name=close class=center></ion-icon></div>
            </div>
        </div>
        <div class="message-input">
            <input type="text" placeholder="Type your message..." [(ngModel)]="message.body">
            <div class="message-input-button ion-activatable" (click)="fileSelect.openFileSelector()">Attach file <ion-ripple-effect></ion-ripple-effect></div>
            <div class="message-input-button ion-activatable" (click)="sendMessage()">Send <ion-ripple-effect></ion-ripple-effect></div>
        </div>
    </div>
</div>