<ion-content>
  <div class="section-details">
    <input class="section-name" type="text" [value]="data ? data.name : ''" placeholder="Section name (Eg. Flavour)" #SectionName>
  </div>

  <div class="section-options">
    <label for="option-name">Section Options</label>
    <div class="options">
      <div>
        <input class="section-name option-input small" type="text" placeholder="Option name (eg. Peri-Peri Hot)" #OptionInput>
        <input class="section-price small" type="text" placeholder="Adjusted price (No currency) [Optional]" #OptionPrice>
      </div>
      <button class="add-button option-input ion-activatable" (click)="addOption(OptionInput.value, OptionPrice.value || null); OptionInput.value = ''; OptionPrice.value = ''; OptionInput.focus();">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon class="center" name=add></ion-icon></button>
    </div>

    <div class="added-options">
      <div class="option" *ngFor="let option of options">
        <div class="index">{{options.indexOf(option) + 1}}.</div>
        <div class="value">{{option.name}}</div>
        <div class="space"></div>
        <div class="price" *ngIf="option.price">ZAR {{option.price}}</div>
        <div class="remove-button-contain">
          <div class="remove-button" (click)="removeOption(option)"><ion-icon class="center" name="close"></ion-icon></div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <div class="required-section-setting">
    <app-setting [isChecked]="data ? data.isMultiSelect : false" description="Allows customers to select more than one option." name="Multiple Selections?" #IsMultpleSelections></app-setting>
    <app-setting [isChecked]="data ? data.isRequired : false" description="Product can not be added to the basket without an option being specified." name="Required?" #IsRequiredSetting></app-setting>
  </div>
  <button [disabled]="!(SectionName.value.length && options.length)" (click)="exportOptions(SectionName.value)">{{data ? 'Save section changes' : 'Add new section'}}</button>
  
</ion-footer>