@import '../../../setup.scss';

ion-content {
  --background-color: black;
}

.new-section-modal-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 20px 0;
    border-bottom: $border;
    background: black;
}

.section-details {
    width: 100%;
    padding: 10px 20px;
    background: black;
    margin-bottom: 20px !important;
}

input {
    border: none !important;
}

input.section-name {
    font-size: 20px;
    border: none;
    border-bottom: 4px solid #EEE;
    text-indent: 0;

    &:focus {
        border-bottom-color: $secondary-color !important;
    }

    &.large {
      font-weight: 900;
    }

    &.small {
        font-weight: 400 !important;
    }
}

input.section-price {
    text-indent: 0;
    border-bottom: 4px solid #EEE;
    font-size: smaller !important;
    font-weight: normal !important;
    transform: translateY(-15px);
    background: transparent;
}

.option-input {
    border-bottom: 4px solid #EEE;
}

.options {
    position: relative;
}

.add-button {
    display: block;
    height: 40px;
    width: 40px;
    background: $secondary-color;
    border-radius: 100px !important;
    border-bottom: none !important;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) translateX(-85%);
    cursor: pointer;
    box-shadow: $shadow;

    ion-icon {
        color: $text-light;
    }
}

.added-options {
    margin: 20px 0 0 10px;
    .option {
        display: flex;
        align-items: center;
        border-bottom: $border;
        padding: 10px 0;
        .value {
            margin: 0 10px;
            font-weight: bold;
        }

        .remove-button-contain {
            height: 20px;
            width: 20px;
            border-radius: 50px;
            background: $danger;
            position: relative;
            ion-icon { color: $text-light; }
        }
    }
}

.required-section-setting {
    padding: 10px;
    background: $background-color;
}

.section-options {
    padding: 0 20px;
}

app-setting {
    display: block;
    margin-bottom: 10px;
}
