<ion-content>
  <div class="section-details">
    <input class="section-name" type="text" [value]="data ? data.name : ''" placeholder="Section name (Eg. Flavour)" #SectionName>
  </div>

  <div class="section-options">
    <label for="option-name">Section Options</label>
    <div class="option-input">
      <input class="section-name small" type="text" placeholder="Option name (eg. Peri-Peri Hot)" #OptionInput>
      <div class="add-button ion-activatable" (click)="addOption(OptionInput.value); OptionInput.value = '';OptionInput.focus();">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon class="center" name=add></ion-icon></div>
    </div>

    <div class="added-options">
      <div class="option" *ngFor="let option of options">
        <div class="index">{{options.indexOf(option) + 1}}.</div>
        <div class="value">{{option}}</div>
        <div class="space"></div>
        <div class="remove-button-contain">
          <div class="remove-button" (click)="removeOption(option)"><ion-icon class="center" name="close"></ion-icon></div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <div class="required-section-setting">
    <app-setting [isChecked]="data ? data.isRequired : false" description="Let's the app know whether to allow adding the product to the basket without specifying an option in this field" name="Required?" #IsRequiredSetting></app-setting>
  </div>
  <button [disabled]="!(SectionName.value.length && options.length)" (click)="exportOptions(SectionName.value)">{{data ? 'Save section changes' : 'Add new section'}}</button>
  
</ion-footer>