<ion-content scrollY=false>
  <!-- Main container to wrap the contents -->
  <div class="accounts-page-container">
    <!-- The logo of the company -->
    <div class="brand-logo">
      <img src="/assets/icons/favicon.svg" alt="">
      <span>NEXTIFY TECHNOLOGIES</span>
    </div>
    <!-- Slides to show Testimony and Messages from founders -->
    <ion-slides class="side-slideshow" #Slideshow>
      <ion-slide>
        <div class=image style="background-image: url(https://images.pexels.com/photos/2095486/pexels-photo-2095486.jpeg?cs=srgb&dl=pexels-matheus-henrin-2095486.jpg&fm=jpg)"></div>
        <div class="testimonial">
          <div class="tesitomy-container">
            <div class="message">"Have the ability to expand your business to the world of click to deliver, online industry."</div>
            <div class="testimonee">LIBBY LEBYANE</div>
            <div class="testimonee-role">CHIEF EXECUTIVE OFFICER</div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class=image style="background-image: url(https://images.pexels.com/photos/4473504/pexels-photo-4473504.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4473504.jpg&fm=jpg)"></div>
        <div class="testimonial">
          <div class="tesitomy-container">
            <div class="message">"Manage your menu with ease, anywhere, at anytime and make it custom to your liking."</div>
            <div class="testimonee">VINCENT SIBANYONI</div>
            <div class="testimonee-role">CHIEF OPERATIONS OFFICER</div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class=image style="background-image: url(https://images.pexels.com/photos/4940719/pexels-photo-4940719.jpeg?cs=srgb&dl=pexels-maria-orlova-4940719.jpg&fm=jpg)"></div>
        <div class="testimonial">
          <div class="tesitomy-container">
            <div class="message">"Great products deserve a good looking and easy to use online delivery platform."</div>
            <div class="testimonee">BONGANI DUMA</div>
            <div class="testimonee-role">CHIEF TECHNOLOGY OFFICER</div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    
    <ion-slides class="form-container" #StepsSlideshow>
      <a href="/signin" class="topright-link">I KNOW MY PASSWORD</a>
      <ion-slide>
        <div *ngIf="!isPasswordResetSent">
          <div class="form-header">Password Reset</div>
          <span class="description">Forgot your password? Don't worry it happens, you can easily reset it with a few secure steps.</span>

          <label for="username">Your email address</label>
          <input
            type="text"
            class="accounts-input"
            placeholder="eg. youremail@site.com"
            [(ngModel)]="data.emailAddress"
            (keyup)="validateEmailAddress()"
            [disabled]="isLoading">
          <div class="error"
            *ngIf="!isEmailValid && data.emailAddress">The email you entered is invalid.</div>
          <div class="error" #Error></div>
          
          <div class="horizontal-center">
          </div>
          <button (click)="requestPasswordReset()" [disabled]="!(isEmailValid)" [attr.isLoading]="isLoading">
            <span *ngIf="!isLoading">Request Password Reset</span>
            <ion-spinner name="crescent" *ngIf="isLoading" color=dark></ion-spinner>
          </button>

          <br>
          <br>
          <a href="/signin"><b>MISTAKE? KNOW YOUR PASSWORD? LOGIN HERE</b></a>
        </div>

        <!-- When the password reset has been sent to the partner -->
        <div *ngIf="isPasswordResetSent" class="flexbox vertical ion-text-center">
          <div class="form-header">Verification link has been sent.</div>
          <div class="description">If an account exist with that email address, verification email has been sent use it to reset your password.</div>
          <button (click)="requestPasswordReset()" [disabled]="!(isEmailValid)" [attr.isLoading]="isLoading">
            <span *ngIf="!isLoading">Resend Password Reset</span>
            <ion-spinner name="crescent" *ngIf="isLoading" color=dark></ion-spinner>
          </button>
        </div>
      </ion-slide>

      <ion-slide class="form-container">
        <a class="topright-link flexbox" href="/signin"><ion-icon name=arrow-back></ion-icon> Cancel, I know my password</a>
        <div *ngIf="!isPasswordReset">
          <div class="form-header">Setup a new password</div>
          <span class="description">Your verification was successful, you can setup your new password. Make sure you remember this one :).</span>

          <!-- First password input -->
          <label for="password">Enter your new password</label>
          <input
            type="password"
            class="accounts-input"
            placeholder="eg. examplepassword"
            [(ngModel)]="data.firstPassword"
            (keyup)="PasswordResetError.innerHTML = ''"
            [disabled]="isLoading" #FirstInput>

          <!-- Second password input -->
          <label for="password-2">Please re-enter your password</label>
          <input
            type="password"
            class="accounts-input"
            placeholder="eg. examplepassword"
            [(ngModel)]="data.secondPassword"
            (keyup)="PasswordResetError.innerHTML = ''"
            [disabled]="isLoading" #SecondInput>

          <br>
          <div class="error" *ngIf="FirstInput.value && SecondInput.value && FirstInput.value !== SecondInput.value">Passwords do not match. Please make sure that passwords match.</div>
          <div class="error" #PasswordResetError></div>

          <button [disabled]="FirstInput.value && SecondInput.value && FirstInput.value !== SecondInput.value && isLoading" [attr.isLoading]="isLoading" (click)="resetPassword()">
            <span *ngIf="!isLoading">Reset Password</span>
            <ion-spinner name="crescent" *ngIf="isLoading" color=dark></ion-spinner>
          </button>
        </div>

        <div *ngIf="isPasswordReset">
          <div class="form-header">Congratulations, password recovered.</div>
          <div class="description">Your password has been succesfully reset. You can now safely log in to your account.</div>
          <button routerLink="/signin">Sign in to account</button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>