<ion-content>
  <div class="modal-header">Select Statement Date Range</div>

  <div class="date-selector" *ngIf="!isLoading">
    <div>
      <label class="label">Statement from date</label>
      <ion-datetime
        placeholder="Select a date"
        [dayValues]=undefined
        doneText="Select start date"
        #IonStartDateInput></ion-datetime>
    </div>
    <div>
      <label class="label">Statement end date</label>
      <ion-datetime
        placeholder="Select a date"
        [dayValues]="undefined"
        doneText="Select end date"
        #IonEndDateInput></ion-datetime>
    </div>
  </div>

  <div class="spinner" *ngIf="isLoading"></div>
</ion-content>
<ion-footer>
  <button [disabled]="!isAllowed || isLoading" (click)="generateStatement()">
    <b *ngIf="isLoading">This might take a while...</b>
    <b *ngIf="!isLoading">Generate Statement</b>
  </button>
</ion-footer>