<ion-content>
  <div class="error-container">
    <img class="error-image" src="/assets/images/holding-phone-monochrome.svg" alt="">
    <div class="error-title">Unsupported Device</div>
    <div class="error-message">Seems you've loaded this page with a mobile device, come back with a desktop or laptop should definitely work. If you're already on a computer resize the window and reload this page.</div>
  </div>

  <div class="brand-footer">
    <a href="https://www.nextify.co.za/">Go to Home</a>
  </div>
</ion-content>
