.error-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 20px;
    
    img.error-image {
        height: 200px;
    }
    
    .error-title {
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 40px;
    }
    
    .error-message {
        opacity: 0.5;
    }
}

.brand-footer {
    padding: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #EEE;
    
    img { height: 40px; }
    span { font-weight: bolder; }
}

a {
    text-decoration: none;
    font-weight: bolder;
}