@import "../../../../setup.scss";

ion-checkbox {
  pointer-events: none !important;
}

.select-options-container {
  height: 100%;
  color: $text-light;

  .select-options-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-weight: bolder;
    background-color: $background-color;
  }

  .select-options {
    padding: 20px;
    height: 80% !important;
    background-color: $background-color;

    .select-option {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #eee;

      .option-detail {
        margin-left: 10px;

        .name {
          font-weight: bold;
        }

        .price {
          font-size: smaller;
          opacity: 0.5;
        }
      }
    }
  }
}

.bottom-buttons {
  position: absolute;
  bottom: 0;
  background-color: $background-color;

  button {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
