<div class="product-name-id">
  <div class="name flexbox">{{name}}
    <div class="first product-views flexbox"><ion-icon name="cart"></ion-icon>{{buys}}</div>
    <div class="product-views flexbox"><ion-icon name="eye"></ion-icon>{{views}}</div>
  </div>
  <div class="id">Product {{id}}</div>
</div>

<div class="product-metadata">
  <div class="metadata">
    <div class="name">Price</div>
    <div class="value">ZAR {{price}}</div>
  </div>
  <div class="metadata">
    <div class="name">Category</div>
    <div class="value">{{category}}</div>
  </div>
  <div class="metadata">
    <div class="name">Description</div>
    <div class="value">{{description}}</div>
  </div>
  <div class="metadata" *ngIf="extras && extras.length">
    <div class="name">Extras</div>
    <div class="value"><span *ngFor="let extra of extras">{{extras.indexOf(extra) !== 0 ? ',' : ''}} {{extra.name}}</span></div>
  </div>
  <div class="metadata" *ngIf="dietary">
    <div class="name">Diatary</div>
    <div class="value">{{dietary}}</div>
  </div>
  <div class="metadata" *ngIf="sections.length">
    <div class="name">Added sections</div>
    <div class="value">{{sections.length}}</div>
  </div>
</div>

<div class="attachments-right-button">
  <div class="attachments clickable" (click)="openPreviewImages(images, id)" *ngIf="images.length > 0">
    <ion-icon name="image"></ion-icon>
    <div class="title attachment-text" *ngIf="images[0].split">{{images[0].split('/').pop()}}</div>
    <span class="unmentioned-attachments attachment-text">{{images.length > 1 ? '+' + (images.length - 1) : ''}}</span>
  </div>
  <div class="space"></div>
  <div class="action-button success clickable" (click)="editProduct()"><span>Edit</span></div>
  <div class="action-button danger clickable" (click)="confirmProductDelete()"><span>Delete</span></div>
</div>