@import "../../../setup.scss";

.app-brand,
.link,
.bottom-signout-button {
    display: flex;
    align-items: center;
}

* {
    color: $text-light;
}

.app-brand {
    transform: translateX(-15px);
    .brand-logo img {
        height: 35px;
        transform: translateY(5px);
        margin-left: 20px;
    }

    .app-name {
        margin-left: 15px;
        .name { font-size: 18px; }
        .bottom-app-name { 
            font-weight: bold;
            padding: 4px 5px 4px 5px;
            background-color: transparentize($secondary-color, .5);
            color: $text-light;
            font-size: 10px !important;
            border-radius: $radius; }
    }
}

// Sidemenu links
.sidemenu-links {
    .links-loaded {
        margin-top: 50px;

        .sidebar-link  {
            margin-bottom: 10px;
            padding: 10px 0;
            opacity: 0.5;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            position: relative;
            
            .name {
                margin-left: 44px;
                font-weight: 600;
            }

            &.active {
                opacity: 1;
                color: $text-light;

                ion-icon {
                    color: $text-light !important;
                }

                ion-icon.outline {
                    opacity: 0 !important;
                }

                ion-icon.filled {
                    opacity: 1 !important;
                }

                // &::after {
                //     content: "";
                //     display: block;
                //     height: 20px;
                //     width: 20px;
                //     background: #FFF;
                //     position: absolute;
                //     right: -1px;
                //     top: 50%;
                //     transform: translateY(-50%) translateX(150%) rotate(45deg);
                // }
            }

            ion-icon {
                position: absolute;
                left: 0;

                &.filled {
                    opacity: 0.2;
                }
            }

            &:hover,
            &.active {
                ion-icon.filled {
                    color: $theme-color;
                }
            }
        }
    }
}

.bottom-signout-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 20px;
    font-weight: bold;
    border: none;
    border-top: $border;
    transition: background 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: transparentize($theme-color, 0.95)
    }
}